/* Обнуляющие стили */
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class] {
  padding: 0;
  list-style-type: none;
}

body,
h1,
h2,
h3,
p,
ul[class],
li,
dl,
dd {
  margin: 0;
}

input,
button,
textarea,
select {
  font: inherit;
}

button[class] {
  border: none;
  background: none;
  padding: 0;
}

/* Visually hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Страницы */
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  color: #444444;
}

.wrapper {
  width: 1160px;
  margin: 0 auto;
}

.main-container {
  flex-grow: 1;
}

.title {
  font-family: "Raleway", "Arial", sans-serif;
  color: #000000;
  font-size: 50px;
  line-height: 50px;
  font-weight: 800;
}

/* Кнопки */
.button,
.navigation-site-link,
.footer-navigation-link,
.pagination-back,
.pagination-forward {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  line-height: 21px;
  letter-spacing: 2px;
}

.navigation-user-link-exit {
  opacity: 0.3;
}

/* Шапка */
.page-header {
  background-color: #ffe17f;
}

.navigation {
  display: grid;
  grid-template-areas: "search user-navigation"
    "site-navigation site-navigation";
}

.search-form {
  grid-area: search;
  font-size: 16px;
}

.navigation-user {
  grid-area: user-navigation;
}

.navigation-user-link {
  color: #000000;
  text-decoration: none;
}

.navigation-site {
  grid-area: site-navigation;
}

/* Промо-блок */
.promo {
  display: flex;
}

.promo-features-term {
  color: #000000;
  font-size: 36px;
  line-height: 30px;
}

.promo-features-description {
  font-size: 16px;
  line-height: 30px;
}

/* Товары */
.products-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 40px;
}

.products-list-link {
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 800;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.products-list-image {
  width: 160px;
  height: 160px;
  background-color: #ffe17f;
}

.products-list-name {
  font-size: 18px;
  line-height: 24px;
  max-width: 160px;
}

/* Доставка, гарантия и кредит */
.delivery {
  background-color: #f0f0f0;
}

.delivery-tabs {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 40px;
}

.delivery-tabs-buttons {
  display: flex;
  flex-direction: column;
  grid-column: 1 / 3;
}

.tab-description {
  grid-column: 3 / -1;
}

.delivery-button {
  display: block;
  text-align: center;
}

/* О нас */
.index-columns {
  display: flex;
}

.types-of-delivery-item {
  font-weight: 700;
  line-height: 20px;
  color: #000000;
  list-style: inside;
}

.types-of-delivery-item::marker {
  color: #ffc700;
}

/* Контакты */
.contacts-address {
  font-style: normal;
}

.contacts-phone {
  color: inherit;
}

/* Рассылка */
.newsletter {
  background-color: #f0f0f0;
}

.newsletter .wrapper {
  display: grid;
  grid-template-areas: "title title description description"
    "form form form its-free";
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 145px;
  grid-column-gap: 40px;
}

.newsletter-title {
  grid-area: title;
  max-width: 350px;
  margin-right: auto;
}

.newsletter-description {
  grid-area: description;
  max-width: 527px;
}

.newsletter-form {
 grid-area: form;
}

.its-free {
  grid-area: its-free;
}

/* Каталог */
.catalog {
  background-color: #f0f0f0;
}

.catalog .wrapper {
  display: grid;
  grid-template-areas: "filter sort"
    "filter results";
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 70px 1fr;
}

.catalog-subtitle {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 19px;
}

/* Хлебные крошки */
.breadcrumbs-link {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
}

/* Фильтрация */
.catalog-filter {
  grid-area: filter;
}

.catalog-filter-title {
  font-weight: 700;
  line-height: 20px;
  color: #000000;
}

.control {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}

/* Сортировка */
.catalog-sorting {
  grid-area: sort;
  display: flex;
  align-items: center;
}

/* Список товаров */
.catalog-products-container {
  grid-area: results;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
}

.catalog-products-list {
  display: flex;
  flex-wrap: wrap;
}

.product-card-link {
  font-weight: 700;
  line-height: 20px;
  color: #000000;
  text-decoration: none;
}

/* Пагинация */
.pagination {
  display: flex;
  
}

.pagination-link {
  color: #000000;
  opacity: 0.3;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
}

.pagination-current {
  opacity: 0.6;
}

.pagination-back,
.pagination-forward {
  font-size: 18px;
}

.pagination-forward {
  opacity: 1;
}

/* Подвал */
.page-footer {
  background-color: #444444;
}

.page-footer .wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: repeat(3, auto);
  grid-column-gap: 80px;
}

.logo {
  grid-area: 1 / 1 / 2 / -1;
}

.footer-address {
  grid-area: 2 / 1 / -1 / 2;
}

.footer-address-text {
  color: #ffffff;
  font-style: normal;
  font-size: 16px;
}

.footer-navigation {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  justify-content: space-around;
}

.footer-navigation-link {
  color: #ffffff;
}

.footer-social {
  grid-area: 3 / 2 / 4 / 2;
}

.footer-phone-text {
  color: #ffffff;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
}

.footer-social {
  grid-area: 3 / 3 / -1 / -1;
}
